In [12]:
# Import SQLAlchemy `automap` and other dependencies

import pandas as pd
import sqlite3

In [2]:
# Create the connection engine

engine = create_engine("sqlite:///airport.db")
print("successful connection")

conn = sqlite3.connect("airport.db")

successful connection

In [13]:
engine = create_engine("sqlite:///airport.db")
print("successful connection")

successful connection

In [14]:
df1 = pd.read_sql("select * from airports", con=engine)
df1.head()

,index,Airport ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz database time zone,Type,Source
0,0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
3,3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
4,4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports

In [22]:
df2= df1[["Name", "IATA", "ICAO"]]
df2.head(10)

                                          Name IATA  ICAO
0                               Goroka Airport  GKA  AYGA
1                               Madang Airport  MAG  AYMD
2                 Mount Hagen Kagamuga Airport  HGU  AYMH
3                               Nadzab Airport  LAE  AYNZ
4  Port Moresby Jacksons International Airport  POM  AYPY
5                  Wewak International Airport  WWK  AYWK
6                           Narsarsuaq Airport  UAK  BGBW
7                      Godthaab / Nuuk Airport  GOH  BGGH
8                        Kangerlussuaq Airport  SFJ  BGSF
9                               Thule Air Base  THU  BGTL

In [30]:
# Filter the data so that only those names with international airports are shown.

international_df2 = df2.loc[df1["Name"].str.contains("International"), :]

international_df2.head()

                                            Name IATA  ICAO
4    Port Moresby Jacksons International Airport  POM  AYPY
5                    Wewak International Airport  WWK  AYWK
15                Keflavik International Airport  KEF  BIKF
48                Edmonton International Airport  YEG  CYEG
69  John C. Munro Hamilton International Airport  YHM  CYHM