In [13]:
import requests
import json
import pandas as pd
import time
from config import username, api_key

In [31]:
startDatetime = '8 Sep 2018 00:00:00 +0000'
endDatetime = '8 Sep 2018 23:59:59 +0000'
startEpoch = int(time.mktime(time.strptime(startDatetime, '%d %b %Y %H:%M:%S +0000')))
endEpoch = int(time.mktime(time.strptime(endDatetime, '%d %b %Y %H:%M:%S +0000')))

In [32]:
baseurl = f"http://{username}:{api_key}@flightxml.flightaware.com/json/FlightXML2/"

addurl = f"AirlineFlightSchedules?startDate={startEpoch}&endDate={endEpoch}&origin=KCLT&destination=KDFW&howMany=15"

fxmlurl = baseurl + addurl

In [33]:
response = requests.get(fxmlurl).json()
print(json.dumps(response, indent=4, sort_keys=True))

{
    "AirlineFlightSchedulesResult": {
        "data": [
            {
                "actual_ident": "",
                "aircrafttype": "A319",
                "arrivaltime": 1536435960,
                "departuretime": 1536426000,
                "destination": "KDFW",
                "ident": "AAL846",
                "meal_service": "First: Lunch / Economy: Food for sale",
                "origin": "KCLT",
                "seats_cabin_business": 0,
                "seats_cabin_coach": 120,
                "seats_cabin_first": 8
            },
            {
                "actual_ident": "AAL1618",
                "aircrafttype": "B738",
                "arrivaltime": 1536447600,
                "departuretime": 1536437400,
                "destination": "KDFW",
                "ident": "BAW6969",
                "meal_service": "",
                "origin": "KCLT",
                "seats_cabin_business": 16,
                "seats_cabin_coach": 144,
                "seats_cabin_first": 0
            },
            {
                "actual_ident": "AAL665",
                "aircrafttype": "A321",
                "arrivaltime": 1536442260,
                "departuretime": 1536431940,
                "destination": "KDFW",
                "ident": "BAW1825",
                "meal_service": "",
                "origin": "KCLT",
                "seats_cabin_business": 16,
                "seats_cabin_coach": 171,
                "seats_cabin_first": 0
            },
            {
                "actual_ident": "AAL1816",
                "aircrafttype": "A321",
                "arrivaltime": 1536453780,
                "departuretime": 1536443400,
                "destination": "KDFW",
                "ident": "BAW1982",
                "meal_service": "",
                "origin": "KCLT",
                "seats_cabin_business": 16,
                "seats_cabin_coach": 171,
                "seats_cabin_first": 0
            },
            {
                "actual_ident": "AAL846",
                "aircrafttype": "A319",
                "arrivaltime": 1536435960,
                "departuretime": 1536426000,
                "destination": "KDFW",
                "ident": "BAW4405",
                "meal_service": "",
                "origin": "KCLT",
                "seats_cabin_business": 0,
                "seats_cabin_coach": 120,
                "seats_cabin_first": 8
            },
            {
                "actual_ident": "AAL2552",
                "aircrafttype": "B738",
                "arrivaltime": 1536432000,
                "departuretime": 1536421500,
                "destination": "KDFW",
                "ident": "QFA4318",
                "meal_service": "Business: Meal / Economy: Food for sale",
                "origin": "KCLT",
                "seats_cabin_business": 16,
                "seats_cabin_coach": 144,
                "seats_cabin_first": 0
            },
            {
                "actual_ident": "AAL1618",
                "aircrafttype": "B738",
                "arrivaltime": 1536447600,
                "departuretime": 1536437400,
                "destination": "KDFW",
                "ident": "QFA4653",
                "meal_service": "Business: Meal / Economy: Food for sale",
                "origin": "KCLT",
                "seats_cabin_business": 16,
                "seats_cabin_coach": 144,
                "seats_cabin_first": 0
            },
            {
                "actual_ident": "AAL813",
                "aircrafttype": "A321",
                "arrivaltime": 1536416040,
                "departuretime": 1536406200,
                "destination": "KDFW",
                "ident": "QFA4506",
                "meal_service": "Business: Meal / Economy: Food for sale",
                "origin": "KCLT",
                "seats_cabin_business": 16,
                "seats_cabin_coach": 171,
                "seats_cabin_first": 0
            },
            {
                "actual_ident": "AAL514",
                "aircrafttype": "A321",
                "arrivaltime": 1536423300,
                "departuretime": 1536413160,
                "destination": "KDFW",
                "ident": "QFA4591",
                "meal_service": "Business: Meal / Economy: Food for sale",
                "origin": "KCLT",
                "seats_cabin_business": 16,
                "seats_cabin_coach": 171,
                "seats_cabin_first": 0
            },
            {
                "actual_ident": "AAL665",
                "aircrafttype": "A321",
                "arrivaltime": 1536442260,
                "departuretime": 1536431940,
                "destination": "KDFW",
                "ident": "QFA4128",
                "meal_service": "Business: Meal / Economy: Food for sale",
                "origin": "KCLT",
                "seats_cabin_business": 16,
                "seats_cabin_coach": 171,
                "seats_cabin_first": 0
            },
            {
                "actual_ident": "AAL1816",
                "aircrafttype": "A321",
                "arrivaltime": 1536453780,
                "departuretime": 1536443400,
                "destination": "KDFW",
                "ident": "QFA4134",
                "meal_service": "Business: Meal / Economy: Food for sale",
                "origin": "KCLT",
                "seats_cabin_business": 16,
                "seats_cabin_coach": 171,
                "seats_cabin_first": 0
            },
            {
                "actual_ident": "AAL522",
                "aircrafttype": "A321",
                "arrivaltime": 1536469260,
                "departuretime": 1536459540,
                "destination": "KDFW",
                "ident": "QFA4614",
                "meal_service": "Business: Meal / Economy: Food for sale",
                "origin": "KCLT",
                "seats_cabin_business": 16,
                "seats_cabin_coach": 171,
                "seats_cabin_first": 0
            },
            {
                "actual_ident": "AAL430",
                "aircrafttype": "A320",
                "arrivaltime": 1536411600,
                "departuretime": 1536401700,
                "destination": "KDFW",
                "ident": "QFA4562",
                "meal_service": "Business: Meal / Economy: Food for sale",
                "origin": "KCLT",
                "seats_cabin_business": 12,
                "seats_cabin_coach": 138,
                "seats_cabin_first": 0
            },
            {
                "actual_ident": "AAL846",
                "aircrafttype": "A319",
                "arrivaltime": 1536435960,
                "departuretime": 1536426000,
                "destination": "KDFW",
                "ident": "QFA4140",
                "meal_service": "First: Meal / Economy: Food for sale",
                "origin": "KCLT",
                "seats_cabin_business": 0,
                "seats_cabin_coach": 120,
                "seats_cabin_first": 8
            },
            {
                "actual_ident": "AAL1618",
                "aircrafttype": "B738",
                "arrivaltime": 1536447600,
                "departuretime": 1536437400,
                "destination": "KDFW",
                "ident": "MAS9518",
                "meal_service": "Business: Meal / Economy: Meal",
                "origin": "KCLT",
                "seats_cabin_business": 16,
                "seats_cabin_coach": 144,
                "seats_cabin_first": 0
            }
        ],
        "next_offset": 15
    }
}

In [34]:
data = response["AirlineFlightSchedulesResult"]
df = pd.DataFrame.from_dict(data["data"], orient='columns')
df.head(5)

,actual_ident,aircrafttype,arrivaltime,departuretime,destination,ident,meal_service,origin,seats_cabin_business,seats_cabin_coach,seats_cabin_first
0,,A319,1536435960,1536426000,KDFW,AAL846,First: Lunch / Economy: Food for sale,KCLT,0,120,8
1,AAL1618,B738,1536447600,1536437400,KDFW,BAW6969,,KCLT,16,144,0
2,AAL665,A321,1536442260,1536431940,KDFW,BAW1825,,KCLT,16,171,0
3,AAL1816,A321,1536453780,1536443400,KDFW,BAW1982,,KCLT,16,171,0
4,AAL846,A319,1536435960,1536426000,KDFW,BAW4405,,KCLT,0,120,8

In [35]:
for index, row in df.iterrows():
    arrivaltime2 = time.strftime("%a, %d %b %Y %H:%M:%S +0000", time.localtime(row["arrivaltime"]))
    df.at[index, 'arrivaltime2'] = arrivaltime2
    departuretime2 = time.strftime("%a, %d %b %Y %H:%M:%S +0000", time.localtime(row["departuretime"]))
    df.at[index, 'departuretime2'] = departuretime2

    
df.head(5)

,actual_ident,aircrafttype,arrivaltime,departuretime,destination,ident,meal_service,origin,seats_cabin_business,seats_cabin_coach,seats_cabin_first,arrivaltime2,departuretime2
0,,A319,1536435960,1536426000,KDFW,AAL846,First: Lunch / Economy: Food for sale,KCLT,0,120,8,"Sat, 08 Sep 2018 15:46:00 +0000","Sat, 08 Sep 2018 13:00:00 +0000"
1,AAL1618,B738,1536447600,1536437400,KDFW,BAW6969,,KCLT,16,144,0,"Sat, 08 Sep 2018 19:00:00 +0000","Sat, 08 Sep 2018 16:10:00 +0000"
2,AAL665,A321,1536442260,1536431940,KDFW,BAW1825,,KCLT,16,171,0,"Sat, 08 Sep 2018 17:31:00 +0000","Sat, 08 Sep 2018 14:39:00 +0000"
3,AAL1816,A321,1536453780,1536443400,KDFW,BAW1982,,KCLT,16,171,0,"Sat, 08 Sep 2018 20:43:00 +0000","Sat, 08 Sep 2018 17:50:00 +0000"
4,AAL846,A319,1536435960,1536426000,KDFW,BAW4405,,KCLT,0,120,8,"Sat, 08 Sep 2018 15:46:00 +0000","Sat, 08 Sep 2018 13:00:00 +0000"