In [3]:
import requests
import json
import pandas as pd
import time
from config import username, api_key

In [4]:
startDatetime = '8 Sep 2018 00:00:00 +0000'
endDatetime = '8 Sep 2018 23:59:59 +0000'
startEpoch = int(time.mktime(time.strptime(startDatetime, '%d %b %Y %H:%M:%S +0000')))
endEpoch = int(time.mktime(time.strptime(endDatetime, '%d %b %Y %H:%M:%S +0000')))

In [97]:
baseurl = f"http://{username}:{api_key}@flightxml.flightaware.com/json/FlightXML2/"

addurl = "SetMaximumResultSize?max_size=100"

fxmlurl = baseurl + addurl

requests.get(fxmlurl).json()

{'SetMaximumResultSizeResult': 0}

In [5]:


addurl1 = f"AirlineFlightSchedules?startDate={startEpoch}&endDate={endEpoch}&origin=KCLT&destination=KDFW&howMany=15"

fxmlurl1 = baseurl + addurl

In [6]:
response = requests.get(fxmlurl1).json()
print(json.dumps(response, indent=4, sort_keys=True))

{
    "AirlineFlightSchedulesResult": {
        "data": [
            {
                "actual_ident": "",
                "aircrafttype": "A319",
                "arrivaltime": 1536435960,
                "departuretime": 1536426000,
                "destination": "KDFW",
                "ident": "AAL846",
                "meal_service": "First: Lunch / Economy: Food for sale",
                "origin": "KCLT",
                "seats_cabin_business": 0,
                "seats_cabin_coach": 120,
                "seats_cabin_first": 8
            },
            {
                "actual_ident": "AAL1618",
                "aircrafttype": "B738",
                "arrivaltime": 1536447600,
                "departuretime": 1536437400,
                "destination": "KDFW",
                "ident": "BAW6969",
                "meal_service": "",
                "origin": "KCLT",
                "seats_cabin_business": 16,
                "seats_cabin_coach": 144,
                "seats_cabin_first": 0
            },
            {
                "actual_ident": "AAL665",
                "aircrafttype": "A321",
                "arrivaltime": 1536442260,
                "departuretime": 1536431940,
                "destination": "KDFW",
                "ident": "BAW1825",
                "meal_service": "",
                "origin": "KCLT",
                "seats_cabin_business": 16,
                "seats_cabin_coach": 171,
                "seats_cabin_first": 0
            },
            {
                "actual_ident": "AAL1816",
                "aircrafttype": "A321",
                "arrivaltime": 1536453780,
                "departuretime": 1536443400,
                "destination": "KDFW",
                "ident": "BAW1982",
                "meal_service": "",
                "origin": "KCLT",
                "seats_cabin_business": 16,
                "seats_cabin_coach": 171,
                "seats_cabin_first": 0
            },
            {
                "actual_ident": "AAL846",
                "aircrafttype": "A319",
                "arrivaltime": 1536435960,
                "departuretime": 1536426000,
                "destination": "KDFW",
                "ident": "BAW4405",
                "meal_service": "",
                "origin": "KCLT",
                "seats_cabin_business": 0,
                "seats_cabin_coach": 120,
                "seats_cabin_first": 8
            },
            {
                "actual_ident": "AAL2552",
                "aircrafttype": "B738",
                "arrivaltime": 1536432000,
                "departuretime": 1536421500,
                "destination": "KDFW",
                "ident": "QFA4318",
                "meal_service": "Business: Meal / Economy: Food for sale",
                "origin": "KCLT",
                "seats_cabin_business": 16,
                "seats_cabin_coach": 144,
                "seats_cabin_first": 0
            },
            {
                "actual_ident": "AAL1618",
                "aircrafttype": "B738",
                "arrivaltime": 1536447600,
                "departuretime": 1536437400,
                "destination": "KDFW",
                "ident": "QFA4653",
                "meal_service": "Business: Meal / Economy: Food for sale",
                "origin": "KCLT",
                "seats_cabin_business": 16,
                "seats_cabin_coach": 144,
                "seats_cabin_first": 0
            },
            {
                "actual_ident": "AAL813",
                "aircrafttype": "A321",
                "arrivaltime": 1536416040,
                "departuretime": 1536406200,
                "destination": "KDFW",
                "ident": "QFA4506",
                "meal_service": "Business: Meal / Economy: Food for sale",
                "origin": "KCLT",
                "seats_cabin_business": 16,
                "seats_cabin_coach": 171,
                "seats_cabin_first": 0
            },
            {
                "actual_ident": "AAL514",
                "aircrafttype": "A321",
                "arrivaltime": 1536423300,
                "departuretime": 1536413160,
                "destination": "KDFW",
                "ident": "QFA4591",
                "meal_service": "Business: Meal / Economy: Food for sale",
                "origin": "KCLT",
                "seats_cabin_business": 16,
                "seats_cabin_coach": 171,
                "seats_cabin_first": 0
            },
            {
                "actual_ident": "AAL665",
                "aircrafttype": "A321",
                "arrivaltime": 1536442260,
                "departuretime": 1536431940,
                "destination": "KDFW",
                "ident": "QFA4128",
                "meal_service": "Business: Meal / Economy: Food for sale",
                "origin": "KCLT",
                "seats_cabin_business": 16,
                "seats_cabin_coach": 171,
                "seats_cabin_first": 0
            },
            {
                "actual_ident": "AAL1816",
                "aircrafttype": "A321",
                "arrivaltime": 1536453780,
                "departuretime": 1536443400,
                "destination": "KDFW",
                "ident": "QFA4134",
                "meal_service": "Business: Meal / Economy: Food for sale",
                "origin": "KCLT",
                "seats_cabin_business": 16,
                "seats_cabin_coach": 171,
                "seats_cabin_first": 0
            },
            {
                "actual_ident": "AAL522",
                "aircrafttype": "A321",
                "arrivaltime": 1536469260,
                "departuretime": 1536459540,
                "destination": "KDFW",
                "ident": "QFA4614",
                "meal_service": "Business: Meal / Economy: Food for sale",
                "origin": "KCLT",
                "seats_cabin_business": 16,
                "seats_cabin_coach": 171,
                "seats_cabin_first": 0
            },
            {
                "actual_ident": "AAL430",
                "aircrafttype": "A320",
                "arrivaltime": 1536411600,
                "departuretime": 1536401700,
                "destination": "KDFW",
                "ident": "QFA4562",
                "meal_service": "Business: Meal / Economy: Food for sale",
                "origin": "KCLT",
                "seats_cabin_business": 12,
                "seats_cabin_coach": 138,
                "seats_cabin_first": 0
            },
            {
                "actual_ident": "AAL846",
                "aircrafttype": "A319",
                "arrivaltime": 1536435960,
                "departuretime": 1536426000,
                "destination": "KDFW",
                "ident": "QFA4140",
                "meal_service": "First: Meal / Economy: Food for sale",
                "origin": "KCLT",
                "seats_cabin_business": 0,
                "seats_cabin_coach": 120,
                "seats_cabin_first": 8
            },
            {
                "actual_ident": "AAL1618",
                "aircrafttype": "B738",
                "arrivaltime": 1536447600,
                "departuretime": 1536437400,
                "destination": "KDFW",
                "ident": "MAS9518",
                "meal_service": "Business: Meal / Economy: Meal",
                "origin": "KCLT",
                "seats_cabin_business": 16,
                "seats_cabin_coach": 144,
                "seats_cabin_first": 0
            }
        ],
        "next_offset": 15
    }
}

In [18]:
data = response["AirlineFlightSchedulesResult"]['data']
df = pd.DataFrame.from_dict(data, orient='columns')
df.head(5)

,actual_ident,aircrafttype,arrivaltime,departuretime,destination,ident,meal_service,origin,seats_cabin_business,seats_cabin_coach,seats_cabin_first
0,,A319,1536435960,1536426000,KDFW,AAL846,First: Lunch / Economy: Food for sale,KCLT,0,120,8
1,AAL1618,B738,1536447600,1536437400,KDFW,BAW6969,,KCLT,16,144,0
2,AAL665,A321,1536442260,1536431940,KDFW,BAW1825,,KCLT,16,171,0
3,AAL1816,A321,1536453780,1536443400,KDFW,BAW1982,,KCLT,16,171,0
4,AAL846,A319,1536435960,1536426000,KDFW,BAW4405,,KCLT,0,120,8

In [8]:
for index, row in df.iterrows():
    arrivaltime2 = time.strftime("%a, %d %b %Y %H:%M:%S +0000", time.localtime(row["arrivaltime"]))
    df.at[index, 'arrivaltime2'] = arrivaltime2
    departuretime2 = time.strftime("%a, %d %b %Y %H:%M:%S +0000", time.localtime(row["departuretime"]))
    df.at[index, 'departuretime2'] = departuretime2

    
df.head(5)

,actual_ident,aircrafttype,arrivaltime,departuretime,destination,ident,meal_service,origin,seats_cabin_business,seats_cabin_coach,seats_cabin_first,arrivaltime2,departuretime2
0,,A319,1536435960,1536426000,KDFW,AAL846,First: Lunch / Economy: Food for sale,KCLT,0,120,8,"Sat, 08 Sep 2018 15:46:00 +0000","Sat, 08 Sep 2018 13:00:00 +0000"
1,AAL1618,B738,1536447600,1536437400,KDFW,BAW6969,,KCLT,16,144,0,"Sat, 08 Sep 2018 19:00:00 +0000","Sat, 08 Sep 2018 16:10:00 +0000"
2,AAL665,A321,1536442260,1536431940,KDFW,BAW1825,,KCLT,16,171,0,"Sat, 08 Sep 2018 17:31:00 +0000","Sat, 08 Sep 2018 14:39:00 +0000"
3,AAL1816,A321,1536453780,1536443400,KDFW,BAW1982,,KCLT,16,171,0,"Sat, 08 Sep 2018 20:43:00 +0000","Sat, 08 Sep 2018 17:50:00 +0000"
4,AAL846,A319,1536435960,1536426000,KDFW,BAW4405,,KCLT,0,120,8,"Sat, 08 Sep 2018 15:46:00 +0000","Sat, 08 Sep 2018 13:00:00 +0000"

In [103]:
idents = []

for index, row in df.iterrows():
    if row['actual_ident'] == "":
        if [row['ident'],row['departuretime']] not in idents:
            idents.append([row['ident'],row['departuretime']])
    else:
        if [row['actual_ident'],row['departuretime']] not in idents:
            idents.append([row['actual_ident'],row['departuretime']])
        
print(idents)

[['AAL846', 1536426000], ['AAL1618', 1536437400], ['AAL665', 1536431940], ['AAL1816', 1536443400], ['AAL2552', 1536421500], ['AAL813', 1536406200], ['AAL514', 1536413160], ['AAL522', 1536459540], ['AAL430', 1536401700]]

In [112]:
import ast

flights = []
offset = 0


for ident in idents:
    flight_added = False
    addurl2 = f"FlightInfoEx?ident={ident[0]}@{ident[1]}&howMany=1&offset={offset}"
    fxmlurl2 = baseurl + addurl2
    #print(addurl2)
    idents_resp = requests.get(fxmlurl2).json()
    #next_offset = idents_resp['FlightInfoExResult']['next_offset']
    #print(next_offset)
    idents_resp2 = idents_resp['FlightInfoExResult']['flights']
    #print(idents_resp2)
    for ident2 in idents_resp2:
        print(ident2['filed_departuretime'])
        #if ident[1] == ident2['filed_departuretime']:
        flights.append(ident2)
            #flight_added = True
    
    #if flight_added == False:
    #    offset = next_offset
            
    
print(flights)

1536426600
1536438000
1536432540
1536444000
1536422100
1536406800
1536413760
1536460140
1536402300
[{'faFlightID': 'AAL846-1536211579-airline-0204', 'ident': 'AAL846', 'aircrafttype': 'A319', 'filed_ete': '02:22:00', 'filed_time': 1536211579, 'filed_departuretime': 1536426600, 'filed_airspeed_kts': 448, 'filed_airspeed_mach': '', 'filed_altitude': 380, 'route': 'ESTRR3 IPTAY CHOPZ ATL VUZ J52 SQS YUYUN BEREE1', 'actualdeparturetime': 1536429960, 'estimatedarrivaltime': 1536437940, 'actualarrivaltime': 1536437940, 'diverted': '', 'origin': 'KCLT', 'destination': 'KDFW', 'originName': 'Charlotte/Douglas Intl', 'originCity': 'Charlotte, NC', 'destinationName': 'Dallas-Fort Worth Intl', 'destinationCity': 'Dallas-Fort Worth, TX'}, {'faFlightID': 'AAL1618-1536211578-airline-0371', 'ident': 'AAL1618', 'aircrafttype': 'B738', 'filed_ete': '02:23:00', 'filed_time': 1536211578, 'filed_departuretime': 1536438000, 'filed_airspeed_kts': 450, 'filed_airspeed_mach': '', 'filed_altitude': 360, 'route': 'BOBZY3 BOBZY BRAYN GQO J118 SALMS J118 MEM LIT FEWWW SEEVR4', 'actualdeparturetime': 1536439500, 'estimatedarrivaltime': 1536447360, 'actualarrivaltime': 1536447360, 'diverted': '', 'origin': 'KCLT', 'destination': 'KDFW', 'originName': 'Charlotte/Douglas Intl', 'originCity': 'Charlotte, NC', 'destinationName': 'Dallas-Fort Worth Intl', 'destinationCity': 'Dallas-Fort Worth, TX'}, {'faFlightID': 'AAL665-1536211579-airline-0042', 'ident': 'AAL665', 'aircrafttype': 'A321', 'filed_ete': '02:09:00', 'filed_time': 1536434131, 'filed_departuretime': 1536432540, 'filed_airspeed_kts': 462, 'filed_airspeed_mach': '', 'filed_altitude': 340, 'route': 'CLT268020 DEBIE ESTRR3 IPTAY CHOPZ ATL VUZ J52 SQS YUYUN BEREE1', 'actualdeparturetime': 1536432710, 'estimatedarrivaltime': 1536440651, 'actualarrivaltime': 1536440651, 'diverted': '', 'origin': 'KCLT', 'destination': 'KDFW', 'originName': 'Charlotte/Douglas Intl', 'originCity': 'Charlotte, NC', 'destinationName': 'Dallas-Fort Worth Intl', 'destinationCity': 'Dallas-Fort Worth, TX'}, {'faFlightID': 'AAL1816-1536211578-airline-0316', 'ident': 'AAL1816', 'aircrafttype': 'A321', 'filed_ete': '02:28:00', 'filed_time': 1536211578, 'filed_departuretime': 1536444000, 'filed_airspeed_kts': 453, 'filed_airspeed_mach': '', 'filed_altitude': 340, 'route': 'BOBZY3 BNA LIT MEEOW FEWWW BRDJE3', 'actualdeparturetime': 1536444292, 'estimatedarrivaltime': 1536452726, 'actualarrivaltime': 1536452726, 'diverted': '', 'origin': 'KCLT', 'destination': 'KDFW', 'originName': 'Charlotte/Douglas Intl', 'originCity': 'Charlotte, NC', 'destinationName': 'Dallas-Fort Worth Intl', 'destinationCity': 'Dallas-Fort Worth, TX'}, {'faFlightID': 'AAL2552-1536211578-airline-0028', 'ident': 'AAL2552', 'aircrafttype': 'B738', 'filed_ete': '02:09:00', 'filed_time': 1536424230, 'filed_departuretime': 1536422100, 'filed_airspeed_kts': 456, 'filed_airspeed_mach': '', 'filed_altitude': 360, 'route': 'ATL082030 VUZ J52 SQS YUYUN BEREE1', 'actualdeparturetime': 1536422522, 'estimatedarrivaltime': 1536430020, 'actualarrivaltime': 1536430020, 'diverted': '', 'origin': 'KCLT', 'destination': 'KDFW', 'originName': 'Charlotte/Douglas Intl', 'originCity': 'Charlotte, NC', 'destinationName': 'Dallas-Fort Worth Intl', 'destinationCity': 'Dallas-Fort Worth, TX'}, {'faFlightID': 'AAL813-1536211579-airline-0066', 'ident': 'AAL813', 'aircrafttype': 'A321', 'filed_ete': '02:12:00', 'filed_time': 1536211579, 'filed_departuretime': 1536406800, 'filed_airspeed_kts': 462, 'filed_airspeed_mach': '', 'filed_altitude': 340, 'route': 'ESTRR3 IPTAY CHOPZ ATL VUZ Q30 SQS YUYUN WHINY4', 'actualdeparturetime': 1536406736, 'estimatedarrivaltime': 1536414120, 'actualarrivaltime': 1536414120, 'diverted': '', 'origin': 'KCLT', 'destination': 'KDFW', 'originName': 'Charlotte/Douglas Intl', 'originCity': 'Charlotte, NC', 'destinationName': 'Dallas-Fort Worth Intl', 'destinationCity': 'Dallas-Fort Worth, TX'}, {'faFlightID': 'AAL514-1536211579-airline-0635', 'ident': 'AAL514', 'aircrafttype': 'A321', 'filed_ete': '02:12:00', 'filed_time': 1536211579, 'filed_departuretime': 1536413760, 'filed_airspeed_kts': 461, 'filed_airspeed_mach': '', 'filed_altitude': 340, 'route': 'ESTRR3 IPTAY CHOPZ ATL VUZ Q30 SQS YUYUN WHINY4', 'actualdeparturetime': 1536414015, 'estimatedarrivaltime': 1536421633, 'actualarrivaltime': 1536421633, 'diverted': '', 'origin': 'KCLT', 'destination': 'KDFW', 'originName': 'Charlotte/Douglas Intl', 'originCity': 'Charlotte, NC', 'destinationName': 'Dallas-Fort Worth Intl', 'destinationCity': 'Dallas-Fort Worth, TX'}, {'faFlightID': 'AAL522-1536211579-airline-0338', 'ident': 'AAL522', 'aircrafttype': 'A321', 'filed_ete': '02:08:00', 'filed_time': 1536460961, 'filed_departuretime': 1536460140, 'filed_airspeed_kts': 454, 'filed_airspeed_mach': '', 'filed_altitude': 360, 'route': 'ESTRR3 IPTAY CHOPZ ATL VUZ Q30 SQS YUYUN WHINY4', 'actualdeparturetime': 1536459886, 'estimatedarrivaltime': 1536467340, 'actualarrivaltime': 1536467340, 'diverted': '', 'origin': 'KCLT', 'destination': 'KDFW', 'originName': 'Charlotte/Douglas Intl', 'originCity': 'Charlotte, NC', 'destinationName': 'Dallas-Fort Worth Intl', 'destinationCity': 'Dallas-Fort Worth, TX'}, {'faFlightID': 'AAL430-1536211579-airline-0553', 'ident': 'AAL430', 'aircrafttype': 'A320', 'filed_ete': '02:16:00', 'filed_time': 1536211579, 'filed_departuretime': 1536402300, 'filed_airspeed_kts': 458, 'filed_airspeed_mach': '', 'filed_altitude': 360, 'route': 'BOBZY3 BNA LIT MEEOW FEWWW SEEVR4', 'actualdeparturetime': -1, 'estimatedarrivaltime': -1, 'actualarrivaltime': -1, 'diverted': '', 'origin': 'KCLT', 'destination': 'KDFW', 'originName': 'Charlotte/Douglas Intl', 'originCity': 'Charlotte, NC', 'destinationName': 'Dallas-Fort Worth Intl', 'destinationCity': 'Dallas-Fort Worth, TX'}]