In [7]:
import pandas

In [8]:
# Python SQL toolkit and Object Relational Mapper
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy.ext.declarative import declarative_base

In [10]:
Base = declarative_base()

engine = create_engine('sqlite:///airport.db')
Base.metadata.create_all(engine)

class airports(Base):
    #Tell SQLAlchemy what the table name is and if there's any table-specific arguments it should know about
    __tablename__ = 'airports'
   
    #tell SQLAlchemy the name of columns and its attributes:
    Airport_ID = Column(Integer(), primary_key=True, nullable=False) 
    Name = Column(String(255))
    City = Column(String(255))
    Country = Column(String(255))
    IATA = Column(String(255))
    ICAO = Column(String(255))
    Latitude = Column(Float)
    Longitude = Column(Float)
    Altitude = Column(Integer())
    Timezone = Column(Float)
    DST = Column(String(50))
    Tz_database = Column(String(255))
    Type = Column(String(255))
    Source = Column(String(255))
    
    

file_name = 'airports.csv'
df = pandas.read_csv(file_name)
df.to_sql(con=engine, name=airports.__tablename__, if_exists='replace', index=False, index_label='Airport_ID')

In [5]:
import csv, sqlite3

con = sqlite3.connect('airports.db')
cur = con.cursor()
cur.execute("CREATE TABLE airports (Airport_ID INTEGER PRIMARY KEY," \
            "Name text, City text, Country text, IATA text, ICAO text, Latitude REAL, Longitude REAL, " \
           "Altitude INTEGER, Timezone TEXT, DST TEXT, Tz_database TEXT, Type TEXT, Source TEXT);")

with open('airports.csv') as fin: # `with` statement available in 2.5+
    # csv.DictReader uses first line in file for column headings by default
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['Airport_ID'], i['Name'], i['City'], i['Country'], i['IATA'], i['ICAO'], i['Latitude'], \
             i['Longitude'], i['Altitude'], i['Timezone'], i['DST'], i['Tz_database'], i['Type'], i['Source']) for i in dr]

cur.executemany("INSERT INTO airports (Airport_ID, Name, City, Country, IATA, ICAO, Latitude, Longitude, Altitude, Timezone, DST, Tz_database, Type, Source) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);", to_db)
con.commit()
con.close()